node_modules
passwd = postgresql: neondb_owner:npg_eA2JLNzQs6SE@ep-floral-bird-ad2p3o5p-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
pagefiftyJumia Kenya.html
pagefiftyJumia Kenya_files 
pageone Jumia Kenya_files 
pageone Jumia Kenya.html
tmp